html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

header, footer {
    background-color: blueviolet;
    color: white;
    padding: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    min-height: 5vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

main {
    height: 75vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1rem;
    line-height: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

div .giphy-embed {
    width: 100%;
}

